In [2]:
#Step 1: Install Necessary Packages
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import config

In [3]:
#Load API KEY
API_KEY = config.api_key
print("Key Loaded Succesfully")

Key Loaded Succesfully

In [4]:
#Creating Parameters, and informing NASDAQ how many rows we wish to pull
api_url = 'https://data.nasdaq.com/api/v3/datatables/MER/F1.json'

parameters = {
    'api_key': API_KEY,
    'qopts.per_page': 2
}

#Storing data pulled into a variable
json_data = requests.get(api_url, params= parameters).json()

print(json_data)

{'datatable': {'data': [[2438, 1868192544, -1802, 10.481948, '2011-06-30', 'Q2', 'U', 'EUR', 'True', 'Deutsche Bank AG', 'Deutsche Bank AG', 'Active', 'DEU', 'Europe', 1159508, '5.1.1', 'DB', 'NYS', 'Taunusanlage 12', None, None, None, 'Frankfurt am Main', None, 'DEU', '60325', '(49) 69 910 00', '(49) 69 910 34 225', 'www.db.com', '2024-12-31', 'Accrued Expenses Turnover', 'Derived'], [2438, 1868216112, -1802, 8.161754, '2011-09-30', 'Q3', 'U', 'EUR', 'True', 'Deutsche Bank AG', 'Deutsche Bank AG', 'Active', 'DEU', 'Europe', 1159508, '5.1.1', 'DB', 'NYS', 'Taunusanlage 12', None, None, None, 'Frankfurt am Main', None, 'DEU', '60325', '(49) 69 910 00', '(49) 69 910 34 225', 'www.db.com', '2024-12-31', 'Accrued Expenses Turnover', 'Derived']], 'columns': [{'name': 'compnumber', 'type': 'Integer'}, {'name': 'reportid', 'type': 'Integer'}, {'name': 'mapcode', 'type': 'Integer'}, {'name': 'amount', 'type': 'BigDecimal(36,14)'}, {'name': 'reportdate', 'type': 'Date'}, {'name': 'reporttype', 'type': 'String'}, {'name': 'auditorstatus', 'type': 'String'}, {'name': 'currency', 'type': 'String'}, {'name': 'consolidated', 'type': 'String'}, {'name': 'longname', 'type': 'String'}, {'name': 'shortname', 'type': 'String'}, {'name': 'status', 'type': 'String'}, {'name': 'countrycode', 'type': 'String'}, {'name': 'region', 'type': 'String'}, {'name': 'cik', 'type': 'Integer'}, {'name': 'mic', 'type': 'String'}, {'name': 'ticker', 'type': 'String'}, {'name': 'exchange', 'type': 'String'}, {'name': 'address1', 'type': 'String'}, {'name': 'address2', 'type': 'String'}, {'name': 'address3', 'type': 'String'}, {'name': 'address4', 'type': 'String'}, {'name': 'city', 'type': 'String'}, {'name': 'statecode', 'type': 'String'}, {'name': 'country', 'type': 'String'}, {'name': 'zipcode', 'type': 'String'}, {'name': 'phonenumber', 'type': 'String'}, {'name': 'faxnumber', 'type': 'String'}, {'name': 'website', 'type': 'String'}, {'name': 'fye', 'type': 'Date'}, {'name': 'indicator', 'type': 'String'}, {'name': 'statement', 'type': 'String'}]}, 'meta': {'next_cursor_id': 'djFfNTExMzdfMTc2NzcyMDc1OA=='}}

In [ ]:
data = json_data['datatable']['data']